body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

:root {
  --header: #f3f6fa;
  --background: ##f0f0f0;
  --white: #fff;
  --black: #000;
  --border: #eee;
  --text-grey: #666;
  --text-light-grey: #aaa;

  --green: #2ecc40;
  --orange: #ff851b;
  --red: #ff4136;
}

@media (prefers-color-scheme: dark) {
  :root {
    --header: #151515;
    --background: #202020;
    --white: #000;
    --black: #fff;
    --border: #111;
    --text-grey: #666;
    --text-light-grey: #444;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.padded {
  gap: 9px;
  align-items: start;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.app-header {
  border-bottom: 1px solid var(--border);
  padding: 18px 36px;
  font-size: 18px;
  font-weight: 700;
  background: var(--header);
  position: sticky;
  top: 0;
  color: var(--text-grey);
}

.app-section {
  padding: 18px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 18px;
}

.instance {
  background: var(--white);
  border: 1px solid var(--border);
  border-radius: 5px;
  height: 500px;
}

.instance-name {
  padding: 6px 12px;
  border-bottom: 1px solid var(--border);
  font-size: 12px;
  font-weight: 600;
  background: var(--header);
  border-radius: 5px 5px 0 0;
  color: var(--text-light-grey);
}

.instance-header {
  border-bottom: 1px solid var(--border);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.instance-state {
  font-weight: 600;
  font-size: 14px;
}

.instance-version {
  font-size: 10px;
  color: var(--text-light-grey);
  font-weight: 600;
}

.instance-address {
  color: var(--text-grey);
  font-size: 12px;
  font-weight: 600;
}

.instance-content {
  overflow: hidden;
}

.instance-content-title {
  padding: 12px;
  font-size: 12px;
  color: var(--text-grey);
  font-weight: 600;
  border-bottom: 1px solid var(--border);
}

.instance-pill {
  background: var(--background);
  padding: 6px 12px;
  border-radius: 10px;
  color: var(--black);
  font-weight: bold;
  font-size: 10px;
}

.instance-content-value {
  overflow: auto;
  margin: 0;
  font-size: 12px;
  font-family: 'Menlo', 'DejaVu Sans Mono', 'Consolas';
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.instance-content-value-group {
  border: 1px solid var(--border);
  border-radius: 5px;
  background: var(--background);
}

.instance-content-value-method {
  background: var(--header);
  color: var(--text-light-grey);
  padding: 6px;
  border-bottom: 1px solid var(--border);
}

.instance-content-value-paths {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px;
}

.instance-content-value-path {
  color: var(--text-light-grey);
  background: var(--white);
  color: var(--black);
  border: 1px solid var(--border);
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.green {
  color: var(--green);
}

.orange {
  color: var(--orange);
}

.red {
  color: var(--red);
}
